#-e git+https://github.com/encode/starlette@master#egg=starlette # bcz current startlette version doesn't have the CORS middleware
#packaging>=24.02
starlette
uvicorn
ollama
openai>=1.22.0
pypdf==4.2.0
langchain==0.1.16
chromadb==0.4.24 # for vector storage
pytest==8.1.1
python_multipart>=0.0.9
pymupdf
huggingface-hub==0.22.2
faiss-cpu==1.8.0
sentence-transformers==2.7.0

# ollama run llama2