torch
faiss-cpu
huggingface-hub
sentence-transformers
pymupdf
pypdf
python-dotenv
python_multipart
pytest
uvicorn
starlette
openai
ollama
chromadb
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-ollama
langchain-huggingface
httpx