-e git+https://github.com/encode/starlette@master#egg=starlette # bcz current startlette version doesn't have the CORS middleware
uvicorn
ollama
openai
pypdf
langchain
chromadb # for vector storage
pytest

pymupdf
huggingface-hub
faiss-cpu
sentence-transformers

# ollama run llama2